<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">f457ab5df510baa159e754bbc57950f2828fe59c7c27e1d036abb1b7134aa4e6</property>
  <property name="hibernate.connection.url">jdbc:postgresql://ec2-52-1-95-247.compute-1.amazonaws.com:5432/dfpn28gk7378o6</property>
  <property name="hibernate.connection.username">vcvpiqpxdbnnsd</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
 </session-factory>
</hibernate-configuration>
