<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <filter>
    <display-name>BlogsFilter</display-name>
    <filter-name>BlogsFilter</filter-name>
    <filter-class>com.ashik.tourblogs.filters.BlogsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BlogsFilter</filter-name>
    <url-pattern>/blogs</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>MyBlogsFilter</display-name>
    <filter-name>MyBlogsFilter</filter-name>
    <filter-class>com.ashik.tourblogs.filters.MyBlogsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyBlogsFilter</filter-name>
    <url-pattern>/myblogs</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LandingPageFilter</display-name>
    <filter-name>LandingPageFilter</filter-name>
    <filter-class>com.ashik.tourblogs.filters.LandingPageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LandingPageFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SignUpFilter</display-name>
    <filter-name>SignUpFilter</filter-name>
    <filter-class>com.ashik.tourblogs.filters.SignUpFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignUpFilter</filter-name>
    <url-pattern>/signup</url-pattern>
  </filter-mapping>
</web-app>